---
# Validation of best model
---
In this notebook, ...


## Results

---

### Importing necessary library

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler

from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

### Read data file

In [14]:
churn_df = pd.read_excel('../data/churn_cleaned_featEng.xlsx')
churn_df

,Tenure Months,Monthly Charges,Churn Value,Senior Citizen_Yes,Partner_Yes,Dependents_Yes,Internet Service_Fiber optic,Internet Service_No,Online Security_Yes,Online Backup_Yes,Device Protection_Yes,Tech Support_Yes,Contract_One year,Contract_Two year,Paperless Billing_Yes,Payment Method_Credit card (automatic),Payment Method_Electronic check,Payment Method_Mailed check
0,2,53.85,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,1
1,2,70.70,1,0,0,1,1,0,0,0,0,0,0,0,1,0,1,0
2,8,99.65,1,0,0,1,1,0,0,0,1,0,0,0,1,0,1,0
3,28,104.80,1,0,1,1,1,0,0,0,1,1,0,0,1,0,1,0
4,49,103.70,1,0,0,1,1,0,0,1,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,72,21.15,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
7039,24,84.80,0,0,1,1,0,0,1,0,1,1,1,0,1,0,0,1
7040,72,103.20,0,0,1,1,1,0,0,1,1,0,1,0,1,1,0,0
7041,11,29.60,0,0,1,1,0,0,1,0,0,0,0,0,1,0,1,0
7042,66,105.65,0,0,0,0,1,0,1,0,1,1,0,1,1,0,0,0

---

<center>
    
## Preparing data

</center>

---

### Separate X and y features

In [15]:
# Seperate X and y features
X = churn_df.drop(columns=['Churn Value'])
y = churn_df['Churn Value']

### Split dataset (training/testing/validation)

In [16]:
# Separating the dataset into a training dataset (70%) and testing+validation (30%) dataset
X_train, X_test_validation, y_train, y_test_validation = train_test_split(X, y, train_size=0.7, random_state=5)

# Separating the testing+valisation dataset into a testing dataset (15%) and a validation dataset (15%) 
X_val, X_test, y_val, y_test = train_test_split(X_test_validation, y_test_validation, test_size=0.5, random_state=5)

### Converting data subset to dataframe

In [17]:
X_val = pd.DataFrame(X_val, columns=X.columns)

### Scale X features

In [20]:
# Create instance of scaler
scaler = StandardScaler()

# Scale the data
X_val_scaled = scaler.transform(X_val)